body {
  background-color: black;
  font-family: monospace;
  text-align: center;
}
.square{
  width:50%;
  height:50%;
}

#purple {
  background-color: #ad5dc8;
  position: absolute;
  top: 0;
  left: 0;
}
#green {
  background-color: #b4d366;
  position: absolute;
  top: 25%;
  right: 0;
}
#teal {
  background-color: #30ccc9;
  position: absolute;
  bottom: 0;
  left: 0;
}
img#sticker {
  height: 100px;
  position: absolute;
  top: -40px;
  right: -70px;
}
.box-1 {
  background-color: pink;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
     -ms-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}
.box-1.inner {
  background-color: orange;
  opacity: 0.7;
  width: 60%;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.line-horizontal {
   width: 90%;
   height: 20px;
   background-color: black;
   position: absolute;
   bottom: 25px;
   right: 0;
 }
 .line-horizontal2 {
    width: 70%;
    height: 15px;
    background-color: black;
    position: absolute;
    bottom: 55px;
    right: 0;
  }
  .line-horizontal3 {
     width: 50%;
     height: 10px;
     background-color: black;
     position: absolute;
     bottom: 85px;
     right: 0;
   }
   .line-horizontal4 {
      width: 30%;
      height: 5px;
      background-color: black;
      position: absolute;
      bottom: 115px;
      right: 0;
    }
